{@boolean renderSection1=true}
{#include email/Common/insightsEmailBody}
{#content-title}
{#if action.isCloudEvent()}
    {action.type}
{#else}
    {action.application} - {action.bundle}
{/if}
{/content-title}
{#content-title-section1}
    Notification
{/content-title-section1}
{#content-body-section1}
    <p>
        {#if action.isCloudEvent()}
            {action.type} notification was triggered.
        {#else}
            {action.bundle}/{action.application}/{action.eventType} notification was triggered.
        {/if}
    </p>
    <p>You are receiving this email because the email template associated with this event type is not configured properly.</p>
    <p>Please see the <a class="rh-url" href="https://core-platform-apps.pages.redhat.com/notifications-docs/dev/user-guide/email-templates.html">documentation</a> for information about setting up email templates.</p>

    <table class="rh-data-table rh-m-bordered">
        <thead>
        <tr>
            <th>RAW ACTION CONTENT</th>
        </tr>
        </thead>
        <tbody>
        <tr style="font-size: 14px;">
            <td><pre>{action.toPrettyJson()}</pre></td>
        </tr>
        </tbody>
    </table>
{/content-body-section1}
{/include}
