{@boolean renderSection1=true}
{@boolean renderButtonSection1=true}
{#include email/Common/insightsEmailBody}
{#content-title}
    User Access - Console
{/content-title}
{#content-title-section1}
    User Access group change
{/content-title-section1}
{#content-body-section1}
    <p>
        A custom group <b>{action.events[0].payload.name}</b> has been created by {action.events[0].payload.username}.
    </p>
{/content-body-section1}
{#content-button-section1}
    <a target="_blank" href="{environment.url}/iam/user-access/groups/detail/{action.events[0].payload.uuid}?{query_params}">Check this group in Insights</a>
{/content-button-section1}
{/include}
