{#include email/Common/insightsEmailBody}
{#content-header-title}
    OpenShift Migration Advisor
{/content-header-title}
{#content-title}
    New Assessment Created
{/content-title}
{#content-body}
<p style="{body-section-p-style}">
    Dear {action.context.customer_name},
</p>
<p style="{body-section-p-style}">
    This is an automated notification from the OpenShift Migration Advisor (OMA) platform.
</p>
<p style="{body-section-p-style}">
    We are writing to inform you that your partner, <b>{action.context.partner_name}</b>, has created a new assessment on your behalf.
    You can review the details of this assessment by logging in to the OpenShift Migration Advisor administrative dashboard.
</p>
<p style="{body-section-p-style}">
    If you have any questions regarding this action, please contact your partner representative or visit the support portal.
</p>
{/content-body}
{#content-button-href}{environment.url}/openshift/migration-advisor/assessments/{action.context.assessment_id}?{query_params}{/content-button-href}
{#content-button-service-name}OpenShift Migration Advisor{/content-button-service-name}
{/include}
