{#include email/Common/insightsEmailBody}
{#content-header-title}
    OpenShift Migration Advisor
{/content-header-title}
{#content-title}
    New Partnership Request
{/content-title}
{#content-body}
<p style="{body-section-p-style}">
    Dear {action.context.partner_name},
</p>
<p style="{body-section-p-style}">
    This is an automated notification from the OpenShift Migration Advisor (OMA) platform.
</p>
<p style="{body-section-p-style}">
    We are writing to inform you that <b>{action.context.customer_name}</b> has submitted a request to establish a formal partnership with your organization.
    Establishing this partnership will enable the secure sharing of migration assessments and facilitate closer collaboration on your joint initiatives.
</p>
<p style="{body-section-p-style}">
    To review this request and choose whether to accept or decline, please log in to the OpenShift Migration Advisor.
</p>
<p style="{body-section-p-style}">
    If you have any questions regarding this request, please contact your organization's account administrator or visit the support portal.
</p>
{/content-body}
{#content-button-href}{environment.url}/openshift/migration-advisor/partnerships?{query_params}{/content-button-href}
{#content-button-service-name}OpenShift Migration Advisor{/content-button-service-name}
{/include}
