{@boolean renderSection1=true}
{@boolean renderButtonSection1=true}
{#include email/Common/insightsEmailBody}
{#content-title}
    Inventory - Red Hat Enterprise Linux
{/content-title}
{#content-title-section1}
    Host with validation error
{/content-title-section1}
{#content-button-section1}
    <a target="_blank" href="{environment.url}/insights/inventory/?{query_params}">Open Inventory in Insights</a>
{/content-button-section1}
{#content-body-section1}
    <p>If no hosts were created by this change, the error will not appear in the service.</p>
    <table class="rh-data-table-bordered">
        <thead>
        <tr>
            <th>Host Name</th>
            <th>Error</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{#if action.events[0].payload.display_name}{action.events[0].payload.display_name}{#else}Not available{/if}</td>
            <td>{action.events[0].payload.error.message}</td>
        </tr>
        </tbody>
    </table>
{/content-body-section1}
{/include}
