{@boolean renderSection1=true}
{#include Common/insightsEmailBody}
{#content-title}
    Compliance - Red Hat Enterprise Linux
{/content-title}
{#content-title-section1}
    Compliance below threshold
{/content-title-section1}
{#content-body-section1}
    <p>
        Your system, <a class="rh-url" href="{environment.url}/insights/compliance/systems/{action.events[0].payload.host_id}"><b>{action.events[0].payload.host_name}</b></a>, assigned to policy <a class="rh-url" href="{environment.url}/insights/compliance/scappolicies/{action.events[0].payload.policy_id}"><b>{action.events[0].payload.policy_name}</b></a>, has been marked as non-compliant because its compliance score {action.events[0].payload.compliance_score}% dropped below the configured compliance threshold of {action.events[0].payload.policy_threshold}% for this policy.
    </p>
    <p>
        Please review the <a class="rh-url" href="{environment.url}/insights/compliance/reports/{action.events[0].payload.policy_id}">detailed policy report for this system</a> and take the appropriate steps to bring this system into compliance. For additional details on how to  remediate compliance issues, learn more <a class="rh-url" href="https://docs.redhat.com/en/documentation/red_hat_insights/1-latest/html/red_hat_insights_remediations_guide"><b>here</b></a>.
    </p>
{/content-body-section1}
{/include}
