{@boolean renderSection1=true}
{@boolean renderButtonSection1=true}
{#include Common/insightsEmailBody}
{#content-title}
    User Access - Console
{/content-title}
{#content-title-section1}
    User Access role change
{/content-title-section1}
{#content-body-section1}
    <p>
        Custom role <b>{action.events[0].payload.name}</b> has been updated by {action.events[0].payload.username}.
    </p>
{/content-body-section1}
{#content-button-section1}
    <a target="_blank" href="{environment.url}/iam/user-access/roles/detail/{action.events[0].payload.uuid}{query_params}">Check the updated role in Insights</a>
{/content-button-section1}
{/include}
