{@boolean renderSection1=true}
{@boolean renderButtonSection1=true}
{#include Common/insightsEmailBody}
{#content-title}
    Advisor - OpenShift
{/content-title}
{#content-title-section1}
    New recommendations
{/content-title-section1}
{#content-title-right-part-section1}
    <a href="{action.context.host_url}" target="_blank">{action.events.size()}</a>
{/content-title-right-part-section1}
{#content-button-section1}
    <a target="_blank" href="{action.context.host_url}">Go to cluster page</a>
{/content-button-section1}
{#content-body-section1}
<p><b>{action.context.display_name}</b> has {action.events.size()} new {#if action.events.size() is 1}recommendation{#else}recommendations{/if}.</p>
<table class="rh-data-table-bordered">
    <thead>
    <tr>
        <th style="width: 60%">Recommendation</th>
        <th style="width: 20%">Total Risk</th>
        <th style="width: 20%">Added</th>
    </tr>
    </thead>
    <tbody>
    {#each action.events}
        <tr>
            <td>
                <a href="{it.payload.rule_url}">{it.payload.rule_description}</a>
            </td>
            <td>
                {#switch it.payload.total_risk}
                {#case '1'}
                <img src="https://eoa-editor.s3.amazonaws.com/f9388bed35977299312ddd671606ecd0fa89a82c%2FInsights%2Fimg_low.png" alt="Low severity" width="55" border="0">
                {#case '2'}
                <img src="https://eoa-editor.s3.amazonaws.com/f9388bed35977299312ddd671606ecd0fa89a82c%2FInsights%2Fimg_moderate.png" alt="Moderate severity" width="85" border="0">
                {#case '3'}
                <img src="https://eoa-editor.s3.amazonaws.com/f9388bed35977299312ddd671606ecd0fa89a82c%2FInsights%2Fimg_important.png" alt="Important severity" width="86" border="0">
                {#case '4'}
                <img src="https://eoa-editor.s3.amazonaws.com/f9388bed35977299312ddd671606ecd0fa89a82c%2FInsights%2Fimg_critical.png" alt="Critical severity" width="70" border="0">
                {/switch}
            </td>
            <td>{it.payload.publish_date.toTimeAgo()}</td>
        </tr>
    {/each}
    </tbody>
</table>
{/content-body-section1}
{/include}
