{#include email/Common/insightsEmailBody}
{#content-header-title}
    Integrations - Console
{/content-header-title}
{#content-title}
    Your PagerDuty integrations will soon filter notifications by severity level
{/content-title}
{#content-body}
    <p style="{body-section-p-style}">Dear Red Hat customer,</p>
    <p style="{body-section-p-style}">We are contacting you because you have the following PagerDuty integrations set up for your organization in the <a style="{body-section-underline-link-style}" target="_blank" href="https://console.redhat.com">Red Hat Hybrid Cloud Console</a>:</p>
    <ul>
        {#for integrationName in action.events[0].payload.integration_names}
        <li>{integrationName}</li>
        {/for}
    </ul>
    <p style="{body-section-p-style}">
        On [[ SCHEDULED UPGRADE DATE ]], these integrations will begin mapping and filtering alert severity based on the notification type.
        For example, errata notifications will be mapped according to their <a href="https://access.redhat.com/security/updates/classification">Red Hat severity rating</a>.
    </p>
    <p style="{body-section-p-style}">
        Please <a href="[[ LINK TO SET NOTIF SEVERITY ]]">review your notifications</a> and select the severity level of notifications that you would like to receive.
        The <a href="https://docs.redhat.com/en/documentation/red_hat_hybrid_cloud_console/1-latest/html-single/configuring_notifications_on_the_red_hat_hybrid_cloud_console/index#con-notif-severity_notif-config-intro">documentation on severity levels</a> explains what kind of notifications should be expected.
        <strong>If you have previously selected severity levels (such as to filter email notifications), no further action is required.</strong>
    </p>
    <p style="{body-section-p-style}">Thank you for your attention.</p>
    <p style="{body-section-p-style}">Kind regards,</p>
    <p style="{body-section-p-style}">Red Hat Hybrid Cloud Console</p>
{/content-body}

{#content-button-href}{environment.url}/settings/integrations?category={action.context.integration_category}&{query_params}{/content-button-href}
{#content-button-service-name}Integrations{/content-button-service-name}

{/include}
