{#include Integrations/insightsEmailBody}
{#content-title}Integration '{action.context.endpoint_name}' was disabled{/content-title}
{#content-body}
<tr>
    <td class="rh-content__block">
        {#if action.context.error_type == "client"}
            <p>
                Integration <a href="{environment.url}/settings/integrations?name={action.context.endpoint_name}" target="_blank">{action.context.endpoint_name}</a>
                was disabled because the remote endpoint responded with an HTTP status code {action.context.status_code}.
            </p>
            <p>
                Please review the integration configuration from <a href="{environment.url}/settings/integrations?name={action.context.endpoint_name}" target="_blank">Settings > Integrations</a>
                to troubleshoot and re-enable the integration.
            </p>
        {#else}
            <p>
                Integration <a href="{environment.url}/settings/integrations?name={action.context.endpoint_name}" target="_blank">{action.context.endpoint_name}</a>
                was disabled because the remote endpoint responded {action.context.errors_count} times with a server error (HTTP status code 5xx).
            </p>
            <p>
                Please re-enable the integration from <a href="{environment.url}/settings/integrations?name={action.context.endpoint_name}" target="_blank">Settings > Integrations</a>
                if the remote endpoint is ready.
            </p>
        {/if}
    </td>
</tr>
<tr>
    <td class="rh-content__block">
        <table align="center">
            <tr>
                <td class="rh-cta-link" align="center">
                    <a href="{environment.url}/settings/integrations?name={action.context.endpoint_name}" target="_blank">
                        <span>Open Integrations</span>
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
{/content-body}
{/include}
