{#include email/Common/insightsEmailBody}
{#content-header-title}
    Scheduler - Console
{/content-header-title}
{#content-title}
    Scheduled report ready to download
{/content-title}
{#content-body}
    <p style="{body-section-p-style}">

        The scheduled report {action.context.job_name} has generated successfully.  Click the link below to access and download the report.
    </p>
    <p style="{body-section-p-style}">
        The next upcoming scheduled report: {action.context.next_run_at}
    </p>
{/content-body}
{#content-button-href}{environment.url}/scheduler/download/{action.context.job_id}/{action.context.run_id}{/content-button-href}
{#content-button-service-name}Download the report{/content-button-service-name}
{/include}
