{#include email/Common/insightsEmailBody}
{#content-header-title}
    Scheduler - Console
{/content-header-title}
{#content-title}
    Scheduled report generation failed - paused
{/content-title}
{#content-body}
    <p style="{body-section-p-style}">
        The scheduled report {action.context.job_name} generation has failed.
        The scheduled report has been paused to prevent further failures. Please review and resolve the issue before resuming the scheduled report.
    </p>
    {#if action.context.error_message}
    <p style="{body-section-p-style}">
        <strong>Error:</strong> {action.context.error_message}
    </p>
    {/if}
{/content-body}
{/include}
