{@boolean renderSection1=true}
{@boolean renderButtonSection1=true}
{#include Common/insightsEmailBody}
{#content-title}
    OCM Service Logs - OpenShift
{/content-title}
{#content-title-section1}
    Critical Severity
{/content-title-section1}
{#content-title-right-part-section1}
    <a href="" target="_blank">1</a>
{/content-title-right-part-section1}
{#content-button-section1}
    <a target="_blank" href="">Go to OCM</a>
{/content-button-section1}
{#content-body-section1}
This is a test email notification.
{/content-body-section1}
{/include}
