{@boolean renderSection1=true}
{@boolean renderButtonSection1=true}
{#include Common/insightsEmailBody}
{#content-title}
    Daily digest - Patch - Red Hat Enterprise Linux
{/content-title}
{#content-title-section1}
    Advisories
{/content-title-section1}
{#content-title-right-part-section1}
    <a target="_blank" href="{environment.url}/insights/patch/advisories?{query_params}">{action.context.total_advisories}</a>
{/content-title-right-part-section1}
{#content-subtitle-section1}
    There are {action.context.total_advisories} new advisories affecting your systems.
{/content-subtitle-section1}
{#content-body-section1}
    {#for key in action.context.patch.keySet()}
        {#if action.context.patch.get(key).size() > 0}
            <div style="height: 24px">&nbsp;</div>
            <table class="rh-data-table-bordered">
                <thead>
                    <tr>
                      <th>
                        <span style="text-transform: capitalize">{key}</span> advisories
                      </th>
                      <th>Synopsis</th>
                    </tr>
                </thead>
                <tbody>
                    {#for advisory in action.context.patch.get(key)}
                        <tr>
                            <td style="width: 40%">
                                <a class="rh-url" href="{environment.url}/insights/patch/advisories/{advisory["name"]}?{query_params}">{advisory["name"]}</a>
                            </td>
                            <td style="width: 60%">
                                {advisory["synopsis"]}
                            </td>
                        </tr>
                    {/for}
                </tbody>
            </table>
        {/if}
    {/for}
{/content-body-section1}
{#content-button-section1}
    <a target="_blank" href="{environment.url}/insights/patch/advisories?{query_params}">Open Advisories in Insights</a>
{/content-button-section1}
{/include}
