{@boolean renderSection1=true}
{@boolean renderButtonSection1=true}
{#include Common/insightsEmailBody}
{#content-title}
    Daily digest - Patch - Red Hat Enterprise Linux
{/content-title}
{#content-title-section1}
    Advisories
{/content-title-section1}
{#content-title-right-part-section1}
    <a target="_blank" href="{environment.url}/insights/patch/advisories">{action.context.total_advisories}</a>
{/content-title-right-part-section1}
{#content-body-section1}
    <p>
        Here is your Patch advisories summary affecting your systems.
    </p>

    {#for key in action.context.patch.keySet()}
        {#if action.context.patch.get(key).size() > 0}
            <p>
                <table class="rh-data-table rh-m-bordered">
                    <thead>
                        <tr>
                          <th>{key} Advisories</th>
                        </tr>
                    </thead>
                    <tbody>
                        {#for advisory in action.context.patch.get(key)}
                            <tr>
                                <td>
                                    <a class="rh-url" href="{environment.url}/insights/patch/advisories/{advisory}">{advisory}</a>
                                </td>
                            </tr>
                        {/for}
                    </tbody>
                </table>
            </p>
        {/if}
    {/for}
{/content-body-section1}
{#content-button-section1}
    <a target="_blank" href="{environment.url}/insights/patch/advisories">Go to Advisories</a>
{/content-button-section1}
{/include}
