{@boolean renderTitleRightPart=true}
{#include email/Common/insightsEmailBody}
{#content-header-title}
    Errata - Subscription Services
{/content-header-title}
{#content-title}
    New subscription enhancements available
{/content-title}
{#content-title-right-part}
    <a target="_blank" style="{title-right-part-link-style}" href="https://access.redhat.com/errata-search?{query_params}">{action.events.size()}</a>
{/content-title-right-part}
{#content-body}
    <p style="{body-section-p-style}">There {#if action.events.size() == 1}is 1 enhancement{#else}are {action.events.size()} enhancements{/if} available for your subscriptions.</p>
    <table style="{body-section-table-style}">
        <thead>
            <tr>
              <th style="{body-section-table-th-style} width: 30%">Enhancement</th>
              <th style="{body-section-table-th-style} width: 60%">Synopsis</th>
            </tr>
        </thead>
        <tbody style="{body-section-table-tbody-style}">
            {#if action.events.size() > 0}
                {#each action.events}
                <tr style="{body-section-table-tr-style}">
                    <td style="{body-section-table-td-style}"><a style="{body-section-table-td-a-style}" href="{action.context.base_url}{it.payload.id}" target="_blank">{it.payload.id}</a></td>
                    <td style="{body-section-table-td-style}">{it.payload.synopsis}</td>
                </tr>
                {/each}
            {/if}
        </tbody>
    </table>
    <br/>
    <p style="{body-section-p-style}">The Red Hat security contact is <a style="{body-section-underline-link-style}" href="mailto:secalert@redhat.com">secalert@redhat.com</a>. See more contact details at <a style="{body-section-table-td-a-style}" href="https://access.redhat.com/security/team/contact/">https://access.redhat.com/security/team/contact/</a>.</p>
{/content-body}

{#content-button-href}{environment.url}/subscriptions/inventory?{query_params}{/content-button-href}
{#content-button-service-name}Subscriptions Inventory{/content-button-service-name}

{/include}
