{@java.lang.String payload.system_check_in}
{@java.lang.String payload.display_name}
{@java.util.Map<java.lang.String, java.lang.String> payload.triggers}
{#include insightsEmailBody}
{#content-title}Policies triggered - {payload.system_check_in.toUtcFormat()}{/content-title}
{#content-body}
<tr>
    <td class="rh-content__block">
        <p>Policy trigger notification for <b>{payload.display_name}</b>. System checked in at {payload.system_check_in.toUtcFormat()} and triggered {payload.triggers.size()} {#if payload.triggers.size() is 1}policy{#else}policies{/if}.</p>
    </td>
</tr>
<tr>
    <td class="rh-content__block">
        <div class="rh-stack">
            <a class="rh-url" href="https://cloud.redhat.com/insights/inventory/{payload.insights_id}"><b>{payload.display_name}</b></a>
        </div>
    </td>
</tr>
<tr>
    <td class="rh-content__block">
        <table class="rh-data-table rh-m-bordered">
            <thead>
            <tr>
                <th>Policy</th>
            </tr>
            </thead>
            <tbody>
                {#if payload.triggers.size() > 0}
                    {#with payload.triggers}
                        {#for key in keySet}
                <tr style="font-size: 14px;">
                    <a href="https://cloud.redhat.com/insights/policies/policy/{key}" target="_blank">{payload.triggers.get(key)}</a>
                </tr>
                        {/for}
                    {/with}
                {/if}
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td class="rh-content__block">
        <table align="center">
            <tr>
                <td class="rh-cta-link" align="center">
                    <a target="_blank" href="https://cloud.redhat.com/insights/policies">
                                <span>
                                  Open Policies in Insights
                                </span>
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
{/content-body}
{/include}
