{@boolean renderSection1=true}
{@boolean renderButtonSection1=true}
{#include Common/insightsEmailBody}
{#content-title}
    Drift - Red Hat Enterprise Linux
{/content-title}
{#content-title-section1}
    Baseline drifts
{/content-title-section1}
{#content-title-right-part-section1}
    <a target="_blank" href="{environment.url}/insights/drift/baselines">{action.events.size()}</a>
{/content-title-right-part-section1}
{#content-button-section1}
    <a target="_blank" href="{environment.url}/insights/drift/baselines">Open Baselines in Insights</a>
{/content-button-section1}
{#content-body-section1}
    <p><b>{action.context.display_name}</b> has drifted from {action.events.size()} {#if action.events.size() is 1}baseline{#else}baselines{/if}.</p>
    <table class="rh-data-table-bordered">
        <thead>
        <tr>
            <th>Baseline</th>
        </tr>
        </thead>
        <tbody>
            {#if action.events.size() > 0}
                {#each action.events}
                <tr style="font-size: 14px;">
                    <td>
                        <a href="{environment.url}/insights/drift/baselines/{it.payload.baseline_id}" target="_blank">{it.payload.baseline_name}</a>
                    </td>
                </tr>
                {/each}
            {/if}
        </tbody>
    </table>
{/content-body-section1}
{/include}
