{@boolean renderSection1=true}
{@boolean renderButtonSection1=true}
{#include Secure/Common/insightsEmailBody}
{#content-title}
    Daily digest - Policies - Red Hat Enterprise Linux
{/content-title}
{#content-title-section1}
    Policies triggered
{/content-title-section1}
{#content-subtitle-section1}
    {action.context.policies.size()} {#if action.context.policies.size() == 1}policy{#else}policies{/if} triggered on your {action.context.unique_system_count} {#if action.context.unique_system_count == 1}system{#else}systems{/if}
{/content-subtitle-section1}
{#content-title-right-part-section1}
    <a target="_blank" href="{environment.url}/insights/policies">{action.context.policies.size()}</a>
{/content-title-right-part-section1}
{#content-button-section1}
    <a target="_blank" href="{environment.url}/insights/policies">Open Policies in Insights</a>
{/content-button-section1}
{#content-body-section1}
    <p>Review the {action.context.policies.size()} {#if action.context.policies.size() == 1}policy{#else}policies{/if} that triggered {action.context.unique_system_count} {#if action.context.unique_system_count == 1}system{#else}unique systems{/if}</p>
    <table class="rh-data-table-bordered">
        <thead>
            <tr>
                <th>Policy</th>
                <th>Systems</th>
            </tr>
        </thead>
        <tbody>
            {#for key in action.context.policies.keySet()}
                <tr>
                    <td><a href="{environment.url}/insights/policies/policy/{action.context.policies.get(key).policy_id}" target="_blank">{action.context.policies.get(key).policy_name}</a></td>
                    <td>{action.context.policies.get(key).unique_system_count}</td>
                </tr>
            {/for}
        </tbody>
    </table>
{/content-body-section1}
{/include}
