{#include Rhosak/rhosakEmailBody}
{#content-title}Action Required - {action.context.action_completion_time.toUtcFormat()}{/content-title}
{#content-body}
<tr>
    <td class="rh-body">
        <table
                class="rh-content"
                role="presentation"
                align="center"
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
        >
            <tbody>
            <!-- Content block -->
            <tr>
                <td class="rh-content__block">
                    <p>
                        Hello {user.firstName}.
                        <br/>
                        <br/>
                        This notification is for your OpenShift Streams instance{#if action.events.size() > 1}s{/if} listed below:
                    <ul>
                        {#each action.events}
                        <li style="font-size: 14px;">
                            {it.payload.name}
                        </li>
                        {/each}
                    </ul>
                    {action.context.issue_description}
                    <br/>
                    <br/>
                    {action.context.action_required}
                    <br/>
                    <br/>
                    If you have any questions, please <a href="https://access.redhat.com/support/contact/technicalSupport/" target="_blank">contact us</a>.
                    For guidance on working with Red Hat Technical Support, see our
                    <a href="https://access.redhat.com/support/policy/support_process" target="_blank">frequently asked questions</a>.
                    <br/>
                    <br/>
                    Thank you for choosing Red Hat OpenShift Streams for Apache Kafka.
                    </p>
                </td>
            </tr>
            <!-- end content block -->
            <!-- Content block -->
            <tr>
                <td class="rh-content__block">
                    <table
                            role="presentation"
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            align="center"
                            class="rh-button-table">
                        <tr>
                            <td class="rh-cta-link" align="center">
                                <a target="_blank"
                                   href="{environment.url}/beta/application-services/streams/kafkas">
                                    <span>Go to Kafka Instances page</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- end content block -->
            </tbody>
        </table>
    </td>
</tr>
{/content-body}
{/include}
