{@boolean renderSection1=action.context.upgrades.size}
{@boolean renderSection2=action.context.disruptions.size}
{@boolean renderSection3=true}
{@boolean renderButtonSection3=true}
{#include Common/insightsEmailBody}
{#content-title}
    Daily digest - Red Hat OpenShift Streams for Apache Kafka - Application and Data Services
{/content-title}
{#content-title-section1}
    Kafka version upgrades
{/content-title-section1}
{#content-title-right-part-section1}
    <a target="_blank" href="{environment.url}/beta/application-services/streams/kafkas">{action.context.upgrades.size()}</a>
{/content-title-right-part-section1}
{#content-body-section1}
    <p>The following table summarizes Kafka upgrade activity for your OpenShift Streams instances. The table shows the date and time that upgrade of each instance began. The table also shows the Kafka version to which each instance was upgraded.</p>
    <table class="rh-data-table rh-m-bordered">
        <thead>
            <tr>
                <th style="width: 60%">OpenShift Streams instance name</th>
                <th>Upgrade start time</th>
                <th>Kafka version upgrade</th>
            </tr>
        </thead>
        <tbody>
        {#for key in action.context.upgrades.keySet()}
            <tr>
                <td style="width: 60%">{action.context.upgrades.get(key).name}</td>
                <td>{action.context.upgrades.get(key).upgrade_time.toUtcFormat()}</td>
                <td>{action.context.upgrades.get(key).kafka_version}</td>
            </tr>
        {/for}
        </tbody>
    </table>
{/content-body-section1}
{#content-title-section2}
    Service disruptions
{/content-title-section2}
{#content-title-right-part-section2}
    <a target="_blank" href="{environment.url}/beta/application-services/streams/kafkas">{action.context.disruptions.size()}</a>
{/content-title-right-part-section2}
{#content-body-section2}
    <p>The following table summarizes the OpenShift Streams instances affected by unexpected disruptions of the OpenShift Streams service. The table shows the date and time that service for each instance was disrupted. The table also shows the possible impacts for each instance due to the disruption.</p>
    <table class="rh-data-table rh-m-bordered">
        <thead>
            <tr>
                <th style="width: 60%">OpenShift Streams instance name</th>
                <th>Service disruption start time</th>
                <th>Possible impacts</th>
            </tr>
        </thead>
        <tbody>
        {#for key in action.context.disruptions.keySet()}
            <tr>
                <td style="width: 60%">{action.context.disruptions.get(key).name}</td>
                <td>{action.context.disruptions.get(key).start_time.toUtcFormat()}</td>
                <td>{action.context.disruptions.get(key).impacted_area}</td>
            </tr>
        {/for}
        </tbody>
    </table>
{/content-body-section2}
{#content-title-section3}
    More info
{/content-title-section3}
{#content-body-section3}
    <p>
        If you have any questions, please <a href="https://access.redhat.com/support/contact/technicalSupport/" target="_blank">contact us</a>.
        For guidance on working with Red Hat Technical Support, see our <a href="https://access.redhat.com/support/policy/support_process" target="_blank">frequently asked questions</a>.
    </p>
    <p>
        Thank you for choosing Red Hat OpenShift Streams for Apache Kafka.
    </p>
{/content-body-section3}
{#content-button-section3}
    <a target="_blank" href="{environment.url}/beta/application-services/streams/kafkas">Go to Kafka Instances page</a>
{/content-button-section3}
{/include}
