{#include Rhosak/rhosakEmailBody}
{#content-title}Upgrade Notification - {action.context.upgrade_time.toUtcFormat()}{/content-title}
{#content-body}
<tr>
    <td class="rh-body">
        <table class="rh-content" role="presentation" align="center" border="0" cellpadding="0" cellspacing="0"
               width="100%">
            <tbody>
            <!-- Content block -->
            <tr>
                <td class="rh-content__block">
                    <p>
                        Hello {user.firstName}.
                        <br/>
                        <br/>
                        This notification is for your OpenShift Streams instance{#if action.events.size() > 1}s{/if} listed below:
                    <ul>
                        {#each action.events}
                        <li style="font-size: 14px;">
                            {it.payload.name}
                        </li>
                        {/each}
                    </ul>
                    The listed {#if action.events.size() is 1} instance is{#else} instances are{/if} scheduled for upgrade maintenance to Kafka version {action.context.kafka_version} on {action.context.upgrade_time.toUtcFormat()}.
                    The maintenance window for the upgrade is variable, but should take approximately {action.context.upgrade_duration} minutes.
                    <br>
                    <br>
                    <b>What can you expect?</b>
                    <br>
                    <ul>
                        <li>Maximum throughput of an OpenShift Streams instance might briefly decrease during upgrade. However, the instance will remain operational.</li>
                        <li>The Kafka brokers in an OpenShift Streams instance will be upgraded one at a time. During this process, a producer or consumer will briefly disconnect from its current broker and fail over to one of the other brokers in the instance.</li>
                        <li>We’ll send you further reminders as we get closer to the upgrade date.</li>
                    </ul>
                    <br>
                    {#if action.context.actions_to_minimize_impacts.size() > 0}
                    <b>What should you do to minimize impact?</b>
                    <br>
                    <ul>
                        {#each action.context.actions_to_minimize_impacts}
                        <li style="font-size: 14px;">
                            {it}
                        </li>
                        {/each}
                    </ul>
                    <br>
                    {/if}
                    <b>More information</b>
                    <br>
                    <ul>
                        <li>To learn more about OpenShift Streams, see our <a href="https://access.redhat.com/documentation/en-us/red_hat_openshift_streams_for_apache_kafka/1" target="_blank">documentation</a>.</li>
                    </ul>
                    <br>
                    If you have any questions, please <a href="https://access.redhat.com/support/contact/technicalSupport/" target="_blank">contact us</a>.
                    For guidance on working with Red Hat Technical Support, see our <a href="https://access.redhat.com/support/policy/support_process" target="_blank">frequently asked questions</a>.
                    <br>
                    <br>
                    Thank you for choosing Red Hat OpenShift Streams for Apache Kafka.
                    </p>
                </td>
            </tr>
            <!-- end content block -->

            <!-- Content block -->
            <tr>
                <td class="rh-content__block">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center"
                           class="rh-button-table">
                        <tr>
                            <td class="rh-cta-link" align="center">
                                <a target="_blank"
                                   href="https://console.redhat.com/beta/application-services/streams/kafkas">
                                    <span>
                                      Go to Kafka Instances page
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- end content block -->
            </tbody>
        </table>
    </td>
</tr>
{/content-body}
{/include}
