{#include Rhosak/rhosakEmailBody}
{#content-title}Action Required - {action.context.action_completion_time.toUtcFormat()}{/content-title}
{#content-body}
<tr>
    <td class="rh-content__block">
        <div>Hello {user.firstName} {user.lastName},</div>
        <p>This notification is for your {action.events.size()} Kafka {#if action.events.size() is 1} instance {#else} instances{/if} below.</p>
        <ul>
            {#each action.events}
            <li style="font-size: 14px;">
                {it.payload.name}
            </li>
            {/each}
        </ul>
    </td>
</tr>
<tr>
    <td class="rh-content__block">
        <div class="rh-stack">
            {action.context.issue_description}
        </div>
    </td>
</tr>

<tr>
    <td class="rh-content__block">
        <div class="rh-stack">
            {action.context.action_required}
        </div>
    </td>
</tr>

<tr>
    <td class="rh-content__block">
        <div class="rh-stack">
            If you have any questions, please <a target="_blank" href="https://access.redhat.com/support/contact/technicalSupport/">contact us</a>.
            Review the <a target="_blank" href="https://access.redhat.com/support/policy/support_process">support process</a> for guidance on working with Red Hat support.
        </div>
    </td>
</tr>

<tr>
    <td class="rh-content__block">
        <table align="center">
            <tr>
                <td class="rh-cta-link" align="center">
                    <a target="_blank" href="https://console.redhat.com/beta/application-services/streams/kafkas">
                                <span>
                                  Thank you for choosing Red Hat OpenShift Streams for Apache Kafka.
                                </span>
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
{/content-body}
{/include}
