{#include Rhosak/rhosakEmailBody}
{#content-title}OpenShift Streams instance {action.context.name} created at {action.context.created_at.toUtcFormat()}{/content-title}
{#content-body}
<tr>
    <td class="rh-body">
        <table
                class="rh-content"
                role="presentation"
                align="center"
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
        >
            <tbody>
            <!-- Content block -->
            <tr>
                <td class="rh-content__block">
                    <p>
                        Hello {user.firstName}.
                        <br/>
                        <br/>
                        Your OpenShift Streams instance, with the name {action.context.name}, has been successfully created.
                        <br/>
                        <br/>
                        You can access your instance by following this <a href="{action.context.browserUrl}" target="_blank">link</a>
                        <br/>
                        <br/>
                        The bootstrap server host and port of your OpenShift Streams instance are: <i>{action.context.bootstrap_server_host}</i>
                        <br/>
                        <br/>
                        To get started with your instance, follow our <a href="https://console.redhat.com/beta/application-services/streams/resources?quickstart=getting-started" target="_blank">quick start</a> in the OpenShift Streams web console, or read our <a href="https://access.redhat.com/documentation/en-us/red_hat_openshift_streams_for_apache_kafka/1/guide/f351c4bd-9840-42ef-bcf2-b0c9be4ee30a" target="_blank">guide</a>.
                        <br/>
                        <br/>
                        If you have any questions, please<a href="https://access.redhat.com/support/contact/technicalSupport/" target="_blank">contact us</a>.
                        For guidance on working with Red Hat Technical Support, see our <a href="https://access.redhat.com/support/policy/support_process" target="_blank">frequently asked questions</a>.
                        <br/>
                        <br/>
                        Thank you for choosing Red Hat OpenShift Streams for Apache Kafka.
                    </p>
                </td>
            </tr>
            <!-- end content block -->
            <!-- Content block -->
            <tr>
                <td class="rh-content__block">
                    <table
                            role="presentation"
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            align="center"
                            class="rh-button-table"
                    >
                        <tr>
                            <td class="rh-cta-link" align="center">
                                <a target="_blank" href="https://console.redhat.com/beta/application-services/streams/kafkas">
                                    <span>Go to Kafka Instances page</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- end content block -->
            </tbody>
        </table>
    </td>
</tr>
{/content-body}
{/include}
