{#include Rhosak/rhosakEmailBody}
{#content-title}Service Disruption{/content-title}
{#content-body}
<tr>
    <td class="rh-body">
        <table
                class="rh-content"
                role="presentation"
                align="center"
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
        >
            <tbody>
            <!-- Content block -->
            <tr>
                <td class="rh-content__block">
                    <p>
                        Hello {user.firstName}.
                        <br/>
                        <br/>
                        This notification is for your OpenShift Streams {#if action.events.size() is 1} instance {#else} instances{/if} listed below:
                    <ul>
                        {#each action.events}
                        <li style="font-size: 14px;">
                            {it.payload.name}
                        </li>
                        {/each}
                    </ul>
                    <br/>
                    <br/>
                    Our monitoring systems have identified a service disruption that’s impacting the {action.context.impacted_area} of your
                    OpenShift Streams/Kafka {#if action.events.size() is 1} instance {#else} instances{/if}. Red Hat SRE is currently resolving this issue.
                    <br/>
                    <br/>
                    You can monitor the status of the Red Hat OpenShift Streams for Apache Kafka service on our
                    <a href="https://status.redhat.com/" target="_blank">status page</a>, where you can also
                    subscribe to receive notifications whenever Red Hat creates, updates or resolves an incident.
                    <br/>
                    <br/>
                    You will receive another notification when the current disruption is resolved.
                    <br/>
                    <br/>
                    If you have any questions, please
                    <a href="https://access.redhat.com/support/contact/technicalSupport/" target="_blank">contact
                        us</a>. Review the
                    <a href="https://access.redhat.com/support/policy/support_process" target="_blank">support
                        process</a>for guidance on working with Red Hat support.
                    <br/>
                    <br/>
                    Thank you for choosing Red Hat OpenShift Streams for Apache Kafka.
                    </p>
                </td>
            </tr>
            <!-- end content block -->
            </tbody>
        </table>
    </td>
</tr>

{/content-body}
{/include}
