{@boolean renderTitleRightPart=true}
{#include email/Common/insightsEmailBody}
{#content-header-title}
    Advisor - OpenShift
{/content-header-title}

{#content-title}
    New recommendation
{/content-title}
{#content-title-right-part}
    <a style="{title-right-part-link-style}" href="{action.context.host_url}" target="_blank">{action.events.size()}</a>
{/content-title-right-part}

{#content-body}
<p style="{body-section-p-style}">The <a style="{body-section-underline-link-style}" target="_blank" href="{action.context.host_url}"><b>{action.context.display_name}</b></a> has {action.events.size()} new {#if action.events.size() is 1}recommendation{#else}recommendations{/if}.</p>
<table style="{body-section-table-style}">
    <thead>
    <tr>
        <th style="{body-section-table-th-style}">Recommendation</th>
        <th style="{body-section-table-th-style}">Total Risk</th>
        <th style="{body-section-table-th-style}">Added</th>
    </tr>
    </thead>
    <tbody style="{body-section-table-tbody-style}">
    {#each action.events}
        <tr>
            <td style="{body-section-table-td-style}">
                <a style="{body-section-table-td-a-style}" href="{it.payload.rule_url}">{it.payload.rule_description}</a>
            </td>
            <td style="{body-section-table-td-style}">
                {#switch it.payload.total_risk}
                {#case '1'}
                <table cellspacing="0" cellpadding="0"><tr><td style="background-color: #707070; padding: 1px 8px; font-size: 12px; font-weight: 400; color: #ffffff; border-radius: 999px;">Low</td></tr></table>
                {#case '2'}
                <table cellspacing="0" cellpadding="0"><tr><td style="background-color: #DCA614; padding: 1px 8px; font-size: 12px; font-weight: 400; border-radius: 999px;">Moderate</td></tr></table>
                {#case '3'}
                <table cellspacing="0" cellpadding="0"><tr><td style="background-color: #CA6C0F; padding: 1px 8px; font-size: 12px; font-weight: 400; border-radius: 999px;">Important</td></tr></table>
                {#case '4'}
                <table cellspacing="0" cellpadding="0"><tr><td style="background-color: #B1380B; padding: 1px 8px; font-size: 12px; font-weight: 400; color: #ffffff; border-radius: 999px;">Critical</td></tr></table>
                {/switch}
            </td>
            <td style="{body-section-table-td-style}">{it.payload.publish_date.toTimeAgo()}</td>
        </tr>
    {/each}
    </tbody>
</table>
{/content-body}

{#content-button-href}{environment.url}/openshift/insights/advisor?{query_params}{/content-button-href}
{#content-button-service-name}Recommendations - Advisor{/content-button-service-name}

{/include}
