{@boolean renderSection1=true}
{#include Secure/Common/insightsEmailBody}
{#content-title}
    Daily digest - Compliance - Red Hat Enterprise Linux
{/content-title}
{#content-title-section1}
    Compliance below threshold
{/content-title-section1}
{#content-body-section1}
    <p>
    Red Hat Insights has identified one or more systems that have reported with a compliance level below your specified threshold or have not reported at all. Please review the <a class="rh-url" href="{environment.url}/insights/compliance/reports">Insights Compliance service</a> to further assess and determine next steps.
    </p>
{/content-body-section1}
{/include}
