{@boolean renderSection1=true}
{@boolean renderButtonSection1=true}
{#include Common/insightsEmailBody}
{#content-title}
    Daily digest - Inventory - Red Hat Enterprise Linux
{/content-title}
{#content-title-section1}
    Host{#if action.context.inventory.errors.size() > 1}s{/if} with validation error
{/content-title-section1}
{#content-title-right-part-section1}
    <a target="_blank" href="{environment.url}/insights/inventory/">{action.context.inventory.errors.size()}</a>
{/content-title-right-part-section1}
{#content-button-section1}
    <a target="_blank" href="{environment.url}/insights/inventory/">Open Inventory in Insights</a>
{/content-button-section1}
{#content-body-section1}
    <p>
        Red Hat Insights has identified {action.context.inventory.errors.size()} host{#if action.context.inventory.errors.size() > 1}s{/if} that presented a validation error.
        For errors in updating hosts, please review the Insights Inventory service to further assess and determine next steps.
    </p>
    <p>
        If no hosts were created by {#if action.context.inventory.errors.size() > 1}these changes, these errors{#else}this change, this error{/if} will not appear in the service.
    </p>

    <table class="rh-data-table rh-m-bordered">
        <thead>
            <tr>
                <th>Host Name</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            {#each action.context.inventory.errors.take(action.context.inventory.errors.size() > 10 ? 10 : action.context.inventory.errors.size())}
            <tr>
                <td>{#if it.display_name}{it.display_name}{#else}Not available{/if}</td>
                <td>{it.message}</td>
            </tr>
            {/each}
        </tbody>
    </table>

{/content-body-section1}
{/include}
