{#include Inventory/insightsEmailBody}
{#content-title}Daily Inventory Summary - {action.timestamp.toStringFormat()}{/content-title}
{#content-body}
<tr>
    <td class="rh-body">
        <table class="rh-content" role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <!-- Content block -->
            <tr>
                <td class="rh-content__block">
                    <p>
                        Red Hat Insights has identified {action.context.inventory.errors.size()} host{#if action.context.inventory.errors.size() > 1}s{/if} that presented a validation error.
                        For errors in updating hosts, please review the <a class="rh-url" href="{environment.url}/insights/inventory/">Insights Inventory service</a> to further assess and determine next steps.
                    </p>
                    <p>If no hosts were created by {#if action.context.inventory.errors.size() > 1}these changes, these errors{#else}this change, this error{/if} will not appear in the service.</p>
                </td>
            </tr>
            <!-- end content block -->
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td class="rh-body">
        <table class="rh-content rh-m-plain" role="presentation" align="center" border="0" cellpadding="0" cellspacing="0"
        width="100%">
        <tbody>
            <tr>
            <td class="rh-content__block">
                <table width:="" 100%;="" class="rh-data-table rh-m-bordered">
                <thead>              
                    <tr>
                        <th>Host Name</th>
                        <th>Error</th>
                    </tr>
                </thead>
                <tbody>
                    {#for key in action.context.inventory.errors.keySet()}
                    {#if key_count < 11}
                    <tr>
                        <td>{#if action.context.inventory.errors.get(key)}{action.context.inventory.errors.get(key)}{#else}Not available{/if}</td>
                        <td>{key}</td>
                    </tr>
                    {/if}
                    {/for}
                </tbody>
                </table>
            </td>
            </tr>
        </tbody>
        </table>
        <br>
    </td>
</tr>
{/content-body}
{/include}
