{@boolean renderSection1=true}
{@boolean renderButtonSection1=true}
{#include Common/insightsEmailBody}
{#content-title}
    Inventory - Red Hat Enterprise Linux
{/content-title}
{#content-title-section1}
    System deleted
{/content-title-section1}
{#content-button-section1}
    <a target="_blank" href="{environment.url}/insights/inventory/">Open Inventory in Insights</a>
{/content-button-section1}
{#content-body-section1}
    <p>
        <strong>{action.context.display_name}</strong> was deleted from Inventory.
    </p>
{/content-body-section1}
{/include}
