{#include Inventory/insightsEmailBody}
{#content-title}{action.context.event_name} Instant Notification - {action.timestamp.toStringFormat()}{/content-title}
{#content-body}
<tr>
    <td class="rh-content__block">
        <table class="rh-data-table rh-m-bordered">
            <thead>
            <tr>
                <th>Request ID</th>
                <th>Error</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{action.events[0].payload.request_id}</td>
                <td>{action.events[0].payload.error.message}</td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td class="rh-content__block">
        <table align="center">
            <tr>
                <td class="rh-cta-link" align="center">
                    <a target="_blank" href="{environment.url}/insights/inventory">
                        <span>
                            Open Inventory in Insights
                        </span>
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<p>If no hosts were created by this change, the error will not appear in the service.</p>
{/content-body}
{/include}
