{@boolean renderSection1=true}
{@boolean renderButtonSection1=false}
{#include Common/insightsEmailBody}
{#content-title}
    Ansible Automation Platform Service on AWS
{/content-title}
{#content-title-section1}
    Ansible Automation Platform is ready
{/content-title-section1}
{#content-body-section1}
    <p>Requested environment '{action.context.env_name}' is ready. You can find the environment details <a href="{environment.url}/ansible/service/instances/{action.context.subscription_id}" target="_blank">here</a>.</p>
    <p>Username: admin</p> 
    <p>Click the secure link below to access your environment's initial password.</p>
    <p><b>You can access the initial password from the link only once.</b></p>
    <p><b>Change the initial password as soon as possible.</b></p>
    <p><a href="{action.context.bitwarden_url}" target="_blank">{action.context.bitwarden_url}</a></p>
    <p>If the password is lost, open a <a href="https://access.redhat.com/support/cases/#/case/new/get-support?caseCreate=true" target="_blank">support ticket</a> to request a password reset.</p>
    
    <p>Visit the product <a href="https://docs.redhat.com/en/documentation/ansible_on_clouds/2.x" target="_blank">documentation</a> for help getting started with Ansible Automation Platform.</p>
{/content-body-section1}

