{#include email/Common/insightsEmailBody}
{#content-header-title}
    Cluster Manager - OpenShift
{/content-header-title}
{#content-title}
    {action.events[0].payload.title.or(action.events[0].payload.subject.or(""))}
{/content-title}
{#content-body}
{#let global_vars=action.events[0].payload.global_vars}
<p style="{body-section-p-style}">
    {#switch global_vars.template_sub_type.or("")}
    {#case 'osd-trial-creation-template'}
        Welcome to your OpenShift Dedicated trial! We are notifying you about your <a style="{body-section-underline-link-style}" href="https://cloud.redhat.com/openshift/details/s/{global_vars.subscription_id}#overview" target="_blank" title="{global_vars.cluster_display_name}"><b>{global_vars.cluster_display_name}</b> OpenShift Dedicated trial cluster</a>.
    {#case 'osd-trial-reminder-template'}
        We are notifying you about your <a style="{body-section-underline-link-style}" href="https://cloud.redhat.com/openshift/details/s/{global_vars.subscription_id}#overview" target="_blank" title="{global_vars.cluster_display_name}"><b>{global_vars.cluster_display_name}</b> OpenShift Dedicated trial cluster</a>.
    {#case 'osd-trial-deletion-template'}
        Thank you for trialing OpenShift Dedicated!
    {#case}
        This notification is for your <a style="{body-section-underline-link-style}" href="https://cloud.redhat.com/openshift/details/s/{global_vars.subscription_id}#overview" target="_blank" title="{global_vars.cluster_display_name}"><b>{global_vars.cluster_display_name}</b> cluster</a>.
    {/switch}
</p>
<p style="{body-section-p-style}">
    {global_vars.log_description}
</p>

{#if global_vars.doc_references.orEmpty.size > 0}
    <p style="{body-section-p-style}">
        <b>Need help? Check these resources for more information:</b>
    </p>
    <ul>
        {#each global_vars.doc_references}
            <li><a style="{body-section-table-td-a-style}" href="{it}" target="_blank">{it}</a></li>
        {/each}
    </ul>
{/if}
{/let}

{#let global_vars=action.events[0].payload.global_vars}
{#switch global_vars.template_sub_type.or("")}
{#case 'osd-trial-creation-template'}
    <p style="{body-section-p-style}">
        To learn more about the OpenShift Dedicated trial, please refer to <a style="{body-section-underline-link-style}" href="https://access.redhat.com/articles/5990101" target="_blank">our documentation</a>. You can upgrade your trial to a paid subscription at any time by clicking "Upgrade from trial" in <a style="{body-section-underline-link-style}" href="https://cloud.redhat.com/openshift/details/{action.events[0].payload.global_vars.internal_cluster_id}" target="_blank">OpenShift Cluster Manager</a>.
    </p>
{#case 'osd-trial-reminder-template'}
    <p style="{body-section-p-style}">
        You will be notified once your cluster is deleted. You can prevent this automatic deletion by upgrading your trial to a paid subscription at any time by clicking "Upgrade from trial" in <a style="{body-section-underline-link-style}" href="https://cloud.redhat.com/openshift/details/{action.events[0].payload.global_vars.internal_cluster_id}" target="_blank">OpenShift Cluster Manager</a>.
    </p>
{#case 'osd-trial-deletion-template'}
    <p style="{body-section-p-style}">
        <a style="{body-section-underline-link-style}" href="https://www.openshift.com/products/dedicated/" target="_blank">Learn more</a> about OpenShift Dedicated, and create a new cluster at any time in <a style="{body-section-underline-link-style}" href="https://cloud.redhat.com/openshift/create" target="_blank">OpenShift Cluster Manager</a>!
    </p>
{#case 'ocm-approved-access-template'}
    <p style="{body-section-p-style}">
        Your organization has enabled "Approved Access" for ROSA clusters. Red Hat SRE cannot access any cluster in your organization unless it is approved.
        As a reminder, the ROSA SLA can be affected if access to a cluster is not approved in a timely manner. More information can be found on this <a style="{body-section-underline-link-style}" href="https://docs.redhat.com/en/documentation/red_hat_openshift_service_on_aws_classic_architecture/4/html/support/approved-access" target="_blank">here</a>.
    </p>
{#case}
    {#if global_vars.subscription_plan != 'OSDTrial'}
        <p style="{body-section-p-style}">
            Your subscription provides <a style="{body-section-underline-link-style}" href="https://access.redhat.com/support/offerings/openshift/sla" target="_blank">premium Red Hat support</a>. If you require any further assistance, or have any questions related to this message, please <a style="{body-section-underline-link-style}" href="https://access.redhat.com/support/contact/technicalSupport/" target="_blank" title="Red Hat Support">open a support case</a>. Review the <a style="{body-section-underline-link-style}" href="https://access.redhat.com/support/policy/support_process" target="_blank" title="Red Hat support process">support process</a> for guidance on working with Red Hat support.
        </p>
    {/if}
{/switch}

<p style="{body-section-p-style}">
    Thank you for choosing Red Hat OpenShift{#switch global_vars.subscription_plan}{#case 'OSD'} Dedicated{#case 'OSDTrial'} Dedicated Trial{#case 'MOA'} Service on AWS{/switch}.
</p>
{/let}
{/content-body}
{#content-button-href}https://cloud.redhat.com/openshift/details/s/{action.events[0].payload.global_vars.subscription_id}#overview{/content-button-href}
{#content-button-service-name}Cluster Manager{/content-button-service-name}
{/include}
