name: Build & Test

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Prepare cache key
        id: cache-key
        shell: bash
        run: echo "::set-output name=date::$(/bin/date -u "+%Y-%m")"
      - name: Cache Maven dependencies
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          # The cache key is changed every month to prevent unlimited growth.
          key: maven-cache-${{ steps.cache-key.outputs.date }}
      - name: Cache Yarn dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cache/yarn
          # The cache key is changed every month to prevent unlimited growth.
          key: yarn-cache-${{ steps.cache-key.outputs.date }}
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11
      - name: Verify if admin-console changed
        id: admin-console-changed
        uses: tj-actions/changed-files@v17.2
        with:
          files: admin-console
      - name: Build admin-console
        if: steps.admin-console-changed.outputs.any_changed == 'true'
        run: ./mvnw clean verify -Padmin-console -pl :checkstyle,:notifications-admin-console --no-transfer-progress
      - name: Push admin-console
        if: steps.admin-console-changed.outputs.any_changed == 'true' && github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: bash .github/scripts/push-admin-console.sh
      - name: Build with Maven
        run: ./mvnw clean verify --no-transfer-progress
      - uses: actions/upload-artifact@v2
        name: Upload notifications openapi.json
        with:
          name: openapi.notifications.json
          path: backend/target/openapi.notifications.json
      - uses: actions/upload-artifact@v2
        name: Upload integrations openapi.json
        with:
          name: openapi.integrations.json
          path: backend/target/openapi.integrations.json
      - uses: actions/upload-artifact@v2
        name: Upload private openapi.json
        with:
          name: openapi.private.json
          path: backend/target/openapi.private.json
      - uses: actions/upload-artifact@v2
        name: Upload internal openapi.json
        with:
          name: openapi.internal.json
          path: backend/target/openapi.internal.json
